/* Homework 2 Style Sheet */

/* styles body */

body {
    background-color: #222831;
}

p {
    font-size: 18px;
}

.container {
    background-color: transparent !important;
}

.card, .contactForm {
    background: transparent !important;
    color: #faebd7 !important;
    border: none;

    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

textarea {
    resize: none;
}

hr {
    height: 2px;
    background-color: #ccc;
    border: none;
}

.mainHeader {
    color: #EFBB35 !important;
}

.aboutMe {
    background-color: transparent !important;
}

.mainTextColor {
    color: #faebd7 !important;
}

.myPic {
    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.solidYellowDiv {
    background-color: #EFBB35;
}

.myPic:hover {
    transform: scale(1.2);
    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.myProjectLinkColor a {
    color: #EFBB35;
}

.portfolioContainer {
    background: transparent !important;
}

/*
PORTFOLIO CARDS
*/

/* Create container to hold portfolio cards */
.imgContainer {
    width: 50px;
    height: 60px;

}

/* Resize images */
.imgContainer img {
    width: 100%;
    height: auto;
}

/* Position image inline center with text */
.imgAlign {
    vertical-align: middle;
    border-radius: 1px;

    transition: 0.4s;
}

.imgAlign:hover {
    transform: scale(5.0);
    transform-origin: bottom left;

    transition: 0.4s;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}